/* Sidebar */
.sidebar {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-radius: 50;
}

.title-label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-max-width: 100%;
}

/* Header */
.header {
    -fx-background-color: #34495e;
    -fx-padding: 10;
    -fx-alignment: center-right;
}

.user-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/* Main content area */
.main-content {
    -fx-padding: 20;
}

.course-label {
    -fx-font-size: 24px;
}

/* Course Card */
.course-card {
    -fx-border-color: #e74c3c;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #ecf0f1;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.details-button {
    -fx-text-fill: blue;
    -fx-cursor: hand;
}
